{#
/**
 * @file
 * Default template for a field.
 */
#}
{%
  set classes = [
  bundle|clean_class ~ '__' ~ field_name_clean|clean_class
]
%}
{%
  set title_classes = [
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}


{% if items|length > 0 %}
<table{{ attributes.addClass(classes) }}>
  <tr>
    <th>{{ items.0.content['#paragraph'].field_documentation.fielddefinition.label }}</th>
    <th>{{ items.0.content['#paragraph'].field_original.fielddefinition.label }}</th>
    <th>{{ items.0.content['#paragraph'].field_copy.fielddefinition.label }}</th>
    <th>{{ items.0.content['#paragraph'].field_quantity.fielddefinition.label }}</th>
  </tr>
  {% for item in items %}
    <tr>
      <td>{{ item.content['#paragraph'].field_documentation.0.value }}</td>
      <td>{{ item.content['#paragraph'].field_original.0.value }}</td>
      <td>{{ item.content['#paragraph'].field_copy.0.value }}</td>
      <td>{{ item.content['#paragraph'].field_quantity.0.value }}</td>
    </tr>
  {% endfor %}
</table>
{% endif %}


