<li{{ li_class }}>
  <a href="#c-tab2-opt1-{{ id }}" data-toggle="tab">
    <span {{ attr_output }}>
      <span class="{{ icon }}"></span>
      <span class="c-title">{{ label }}</span>
    </span>
  </a>
  <div class="c-arrow"></div>
</li>

