{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3">{{ form.name }}</div>
        <div class="col-sm-2">{{ form.prefix }}</div>
        <div class="col-sm-1">{{ form.next_number }}</div>
    </div>
    <div class="row">
        <div class="col-sm-6">{{ form.description }}</div>
    </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">{{ form.actions }}</div>
    </div>
    
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
</div>
