<header class="c-layout-header {{ class }}" data-minimize-offset="80">
  <input type="hidden" id="body-classes" value="{{ body_classes }}"/>

  <div class="c-navbar">
    <div class="container{{ width }}">
      <!-- BEGIN: BRAND -->
      <div class="c-navbar-wrapper clearfix">
        
        <!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
        <nav class="c-mega-menu c-pull-right c-mega-menu-{{ bg_color }} c-mega-menu-dark-mobile c-mega-menu-onepage c-fonts-uppercase c-fonts-bold"
          data-onepage-animation-speed="700">
          <!-- Main Menu -->
          <ul class="nav navbar-nav c-theme-nav">
            {{ menu }}
          </ul>
        </nav>
      </div>


    </div>
  </div>
</header>
