<div class="container">
    <strong><h2 class="text-center">{{ 'Examen Otorrinolaringológico'|t }}</h2></strong>
    <div class="row">
        <div class="col-md-offset-6 col-md-6">
            <h4 class="text-center">{{ 'Hallazgos: Descripción en detalle cada anormalidad encontrada.'|t }}</h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-4">
            <p>{{ item.field_text_list_00.fieldDefinition.label }}</p> 
        </div>
        <div class="col-lg-3">
            {{ item.field_text_list_00.value }} 
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_00.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>{{ item.field_text_list_01.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_list_01.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_01.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>{{ item.field_text_list_02.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_list_02.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_02.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>  {{ item.field_text_list_03.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_list_03.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_03.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p> {{ item.field_text_list_04.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_list_04.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_04.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p> {{ item.field_text_list_05.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_list_05.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_05.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>{{ item.field_text_list_06.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_list_06.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_06.value }} 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>{{ item.field_text_list_07.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_list_07.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_07.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p> {{ item.field_text_list_08.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_list_08.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_08.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>  {{ item.field_text_list_09.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_list_09.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_09.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p> {{ item.field_text_list_10.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_list_10.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_10.value }} 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p> {{ item.field_text_list_11.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_list_11.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_11.value }} 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p> {{ item.field_text_list_12.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_list_12.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_12.value }} 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <H5 class="text-center">{{ 'AUDIOMETRÍA'|t }}</H5> 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <H5>{{ 'VÍA ÓSEA'|t }}</H5> 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-center">
            <H5>{{ 'OD'|t }}</H5> 
        </div>
        <div class="col-lg-6 text-center">
            <H5>{{ 'OI'|t }}</H5> 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-md-1">
            <H5>{{ '0.5K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '1K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '2K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '3K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '4K'|t }}</H5> 
        </div>
        <div class="col-md-offset-1 col-md-1">
            <H5>{{ '0.5K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '1K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '2K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '3K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '4K'|t }}</H5> 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-md-1">
            {{ item.field_number_float_00.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_01.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_02.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_03.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_04.value }}
        </div>
        <div class="col-md-offset-1 col-md-1">
            {{ item.field_number_float_10.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_11.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_12.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_13.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_14.value }}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <H5>{{ 'VÍA AÉREA'|t }}</H5> 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-center">
            <H5>{{ 'OD'|t }}</H5> 
        </div>
        <div class="col-lg-6 text-center">
            <H5>{{ 'OI'|t }}</H5> 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-md-1">
            <H5>{{ '0.5K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '1K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '2K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '3K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '4K'|t }}</H5> 
        </div>
        <div class="col-md-offset-1 col-md-1">
            <H5>{{ '0.5K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '1K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '2K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '3K'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '4K'|t }}</H5> 
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-1 col-md-1">
            {{ item.field_number_float_05.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_06.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_07.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_08.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_09.value }}
        </div>
        <div class="col-md-offset-1 col-md-1">
            {{ item.field_number_float_15.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_16.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_17.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_18.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_19.value }}
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-md-2">
            <H5>{{ 'Frecuencia HZ'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '250'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '500'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '1000'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '2000'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '3000'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '4000'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '5000'|t }}</H5> 
        </div>
        <div class="col-md-1">
            <H5>{{ '6000'|t }}</H5> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <H5>{{ 'OÍDO DERECHO'|t }}</H5> 
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_20.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_21.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_22.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_23.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_24.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_25.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_26.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_27.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <H5>{{ 'OÍDO IZQUIERDO'|t }}</H5> 
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_28.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_29.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_30.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_31.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_32.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_33.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_34.value }}
        </div>
        <div class="col-md-1">
            {{ item.field_number_float_35.value }}
        </div>
    </div>
    <br>
</div>