<div class="container">
    <strong><h2 class="text-center">{{ 'Examen Psicológico y Psicomotor'|t }}</h2></strong>
    <div class="row">
        <div class="col-md-offset-6 col-md-6">
            <h4 class="text-center">{{ 'Observaciones'|t }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>{{ item.field_text_plain_00.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_plain_00.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_00.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>{{ item.field_text_plain_01.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_plain_01.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_01.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>{{ item.field_text_plain_02.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_plain_02.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_02.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>{{ item.field_text_plain_03.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_plain_03.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_03.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>{{ item.field_text_plain_04.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_plain_04.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_04.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>{{ item.field_text_plain_05.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_plain_05.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_05.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>{{ item.field_text_plain_06.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_plain_06.value }}
        </div>
        <div class="col-lg-5">
            {{ item.field_text_plain_long_06.value }}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <p>{{ item.field_text_plain_07.fieldDefinition.label }}</p>
        </div>
        <div class="col-lg-3">
            {{ item.field_text_plain_07.value }}
        </div>
        <div class="col-lg-5>
            {{ item.field_text_plain_long_07.value }}
        </div>
    </div>
    <br>
</div>