{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<label class="">
        {{ form.field_text_plain_00['widget']['#title'] }}
</label>
<div class="row">
    <div class="col-sm-12">
        {{ form.field_text_plain_00 }}
    </div>
    <div class="col-sm-12">
        {{ form.field_text_plain_long_00 }}
    </div>
</div>
<label class="">
        {{ form.field_text_plain_01['widget']['#title'] }}
</label>
<div class="row">
    <div class="col-sm-12">
        {{ form.field_text_plain_01 }}
    </div>
    <div class="col-sm-12">
        {{ form.field_text_plain_long_01 }}
    </div>
</div>
<label class="">
        {{ form.field_text_plain_02['widget']['#title'] }}
</label>
<div class="row">
    <div class="col-sm-12">
        {{ form.field_text_plain_02 }}
    </div>
    <div class="col-sm-12">
        {{ form.field_text_plain_long_02 }}
    </div>
</div>
<label class="">
        {{ form.field_text_plain_03['widget']['#title'] }}
</label>
<div class="row">
    <div class="col-sm-12">
        {{ form.field_text_plain_03 }}
    </div>
    <div class="col-sm-12">
        {{ form.field_text_plain_long_03 }}
    </div>
</div>
<label class="">
        {{ form.field_text_plain_04['widget']['#title'] }}
</label>
<div class="row">
    <div class="col-sm-12">
        {{ form.field_text_plain_04 }}
    </div>
    <div class="col-sm-12">
        {{ form.field_text_plain_long_04 }}
    </div>
</div>
<label class="">
        {{ form.field_text_plain_05['widget']['#title'] }}
</label>
<div class="row">
    <div class="col-sm-12">
        {{ form.field_text_plain_05 }}
    </div>
    <div class="col-sm-12">
        {{ form.field_text_plain_long_05 }}
    </div>
</div>  
  <label class="">
        {{ form.field_text_plain_06['widget']['#title'] }}
</label>
<div class="row">
    <div class="col-sm-12">
        {{ form.field_text_plain_06 }}
    </div>
    <div class="col-sm-12">
        {{ form.field_text_plain_long_06 }}
    </div>
</div>      
  <label class="">
        {{ form.field_text_plain_07['widget']['#title'] }}
</label>
<div class="row">
    <div class="col-sm-12">
        {{ form.field_text_plain_07 }}
    </div>
    <div class="col-sm-12">
        {{ form.field_text_plain_long_07 }}
    </div>
</div>      
