<div class="ss-login-page__form ss-login-page__form--amos container-fluid">
  <div class="row">
    <div class="col-md-8">	  
      <div class="panel panel-default c-panel">
        <div class="panel-body c-panel-body">
		  <h1><span>{{ "Portal de gestión para"|t }}<span></br><span>{{ "centros médicos"|t }}</span></h1>
		  <h3>{{ "Inicio de sesión"|t }}</h3>
          {{ rendered }}
		  <p>{{ "¿Olvidaste tu contraseña?"|t }} <a href="/user/password">{{ "Recupérala"|t }}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
